
<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Algorithm
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">&Theta; Brute Force with Repetitions</a>
    <a class="dropdown-item" href="#">&Theta; Brute Force without Repetitions</a>
    <a class="dropdown-item" href="#">&Theta; Genetic Algorithm without Crossover</a>
    <a class="dropdown-item" href="#">&Theta; Genetic Algorithm with Crossover</a>
  </div>
</div>
