.dropdown-menu > div {
  margin-left: 5px;
  padding: 5px;
  cursor:hand;
}

.dropdown-menu > div:hover {
  background-color: grey;
  color: white;
  border-radius: 5px;
  box-shadow: -5px 5px 10px black;
}

.dropdown-menu > p {
  cursor:hand;
}

.dropdown-menu {
  border-radius: 10px;
}

.btn-success {
  border-radius: 10px;
}

