
<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Algorithm
  </button>
  <div class="dropdown-menu">
    <div class = "dropdown-item"><p>Brute force with Repetition</p></div>
    <div class = "dropdown-item"><p>Brute force without Repetition</p></div>
    <div class = "dropdown-item"><p>Genetic algorithm without Crossover</p></div>
    <div class = "dropdown-item"><p>Genetic algorithm with Crossover</p></div>
  </div>
</div>
<h4>
<p>

  Work under progress! Implementation for the dropdown is coming by 8/7/2017.

</p>
</h4>
